{% extends 'main/base.html' %}


{% block title %}Add New Product{% endblock %}

{% block content %}
<h1>Add Product</h1>

<div class="row">

    <div class="col-6">

        <form class="d-flex flex-column gap-2" action="{% url 'products:add_product_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="Title" name="title" class="form-control" required minlength="5" maxlength="512"/>
            <textarea placeholder="Description" name="description" class="form-control" required></textarea>
            
            
            <select name="supplier" class="form-select" required>
                <option>Choose Supplier</option>
                {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                {% endfor %}
            </select>


            <!-- <select name="esrb" class="form-select" required>
                <option>Choose Audience Rating</option>
                {% for value, label in esrb_ratings %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select> -->

            <div class="d-flex gap-2 align-items-center">
                <h5 class="m-0 p-0">Rating: </h5>
                <div class="rate">
                    {% for val, label in RatingChoices %}
                        <input type="radio" id="{{val}}" name="rating" value="{{val}}" required/>
                        <label for="{{val}}" title="text">{{label}}</label>
                    {% endfor %}
                </div>
            </div>

            

            <input type="date" name="release_date" class="form-control" required/>

            <input type="file" name="poster" class="form-control" required accept="image/*"/>


            <h3>Categories</h3>
            <div class="d-flex align-items-center gap-2">
                {% for category in categories %}
                    <input type="checkbox" class="form-check-input" name="categories" id="check-{{category.id}}" value="{{category.id}}" />
                    <label for="check-{{category.id}}">{{category.name}}</label>
                {% endfor %}
            </div>
            <input type="submit" value="Add Product" class="btn btn-primary mt-4" />

        </form>


    </div>

</div>

<hr />


{% endblock %}