{% extends 'main/base.html' %}


{% block title %}All Products{% endblock %}

{% block content %}

<div class="container">
    <h1>All Products</h1>
</div>



{% include 'products/products_list.html' %}

<div class="pagination d-flex justify-content-center align-items-center mt-5 gap-4">
    {% if products.has_previous %}
        <div class="d-flex gap-1">
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">&laquo; previous</a>
        </div>
    {% endif %}

    <div class="current">
        Page {{ products.number }} of {{ products.paginator.num_pages }}
    </div>

    {% if products.has_next %}
        <div class="d-flex gap-1">
            <a href="?page={{ products.next_page_number }}">next &raquo;</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        </div>
    {% endif %}


</div>

{% endblock %}