* {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4rem;
    
}
h1, h2 {
    font-family: "Oswald", sans-serif;
}

.navbar-brand h2 {
    font-family: "Oswald", sans-serif;
}

main {
    min-height: 60vh;
}

body.dark  {
    background-color: rgb(0, 87, 127);
    color: rgb(220, 220, 220);
}

body.dark h1, body.dark h2, body.dark h3, body.dark nav {
    color:rgb(210, 255, 220);
} 

body.dark hr {
    background-color: rgb(230, 245, 255);
}

.oswald-regular {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

p {
    white-space:pre-line;
}

hr {
    opacity: 1;
    height: 0.5rem;
    border: none;
    background-color: rgb(230, 230, 230);
    transform: skewX(-20deg);
}

.top-logo {
    font-size: 2.2rem;
    color: rgb(0, 87, 127);
    transform: skewX(-20deg);
    transition: all 0.2s ease-in;
}

.top-logo:hover {
    transform: translate(5%, -5%) skewX(-20deg);
    text-shadow: -0.2rem 0.1rem 0px rgb(210, 255, 220);
}

.hero {
    transform: skewX(-20deg);
    transition: all 0.3s ease-in;
}

.hero  {

    background-color: rgb(220, 220, 220);
    padding-left: 4rem;
}

input[type="search"]{
    border-radius: 0px !important;
    transform: skew(-10deg);
}

.top-nav span {
    padding:0.2rem;

}

.top-nav .active-icon {
    background-color: white;
    border-radius: 50%;
    color:black;
}

.top-nav a {
    padding: 0px !important;
}

.poster-thumb {
    height: 250px;
}

a {
    color:black;
    text-decoration: none;
    transition: all 0.1s ease-in;
}

a:hover {
    color:rgb(210, 255, 220);
    transition: all 0.15s ease-out;
}

.cat {
    background-color: rgb(120, 120, 120);
}

.cat:hover {
    background-color: black;
}


.supplier-img-top {
    height: 150px;
    object-fit:contain;
    object-position: center;
}

.supplier-logo {
    max-height: 300px;
    object-fit: contain;
}

.supplier-logo-small {
    height: 50px;
    width:50px;
    object-fit: contain;
}

.top-nav a.active {
    background-color: rgb(210, 255, 220); !important;
    border-radius: 10px;
    padding: 2px 18px !important;
}

@media only screen and (max-width:800px)  {
    .hero {
        transform: skewX(0deg);
        transition: all 0.3s ease-in;
    }
}
